<script lang="ts" setup>
import { ref } from "vue";
const orderList = ref<Props[]>([]);
const sum = ref(0);
const onClick = (item: Props) => {
  orderList.value.push(item);
  sum.value = sum.value + item.price;
};

interface Props {
  id: number;
  name: string;
  price: number;
}

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <v-container>
    <v-row class="pa-5">
      <v-col
        cols="6"
        class="flex-wrap d-flex overflow-y-auto h-screen"
        style="padding-left: 100px"
      >
        <v-card
          v-for="item of products"
          :key="item.id"
          class="text-center"
          width="200px"
          height="150px"
          style="margin-right: 20px; margin-top: 20px"
        >
          <v-card-title>{{ item.name }}</v-card-title>
          <v-card-text class="font-weight-bold" style="font-size: medium">{{
            item.price
          }}</v-card-text>
          <v-card-actions class="justify-center">
            <v-btn
              @Click="onClick(item)"
              elevation="2"
              large
              class="align-center"
              >Add</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="6" class="pa-12" style="font-size: larger">
        <v-table id="order" height="500px" class="justify-center">
          <thead>
            <tr>
              <th class="text-left">id</th>
              <th class="text-left">name</th>
              <th class="text-left">price</th>
            </tr>
          </thead>
          <tbody v-if="orderList.length === 0">
            <tr>
              <td colspan="6" class="text-center font-weight-bold text-h6">
                NO Data
              </td>
            </tr>
          </tbody>
          <tbody v-if="orderList.length > 0">
            <tr
              v-for="(item, index) in orderList"
              :key="index"
              class="text-left"
            >
              <td class="font-weight-medium">{{ item.id }}</td>
              <td class="font-weight-medium">{{ item.name }}</td>
              <td class="font-weight-medium">{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
        <v-container>
          <p
            class="font-weight-medium text-lg-h2"
            style="padding-top: 100px; padding-left: 40px"
          >
            Sum: {{ sum }}
          </p>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped></style>
