<script lang="ts" setup>
import { ref } from "vue";
const showImg1 = ref(false);
const showImg2 = ref(false);
const showImg3 = ref(false);
const showImg4 = ref(false);
const showImg5 = ref(false);
const showImg6 = ref(false);
</script>
<template>
  <v-container>
    <v-row>
      <v-col align="center" justify="center" style="padding-top: 100px">
        <div v-if="showImg1" id="ANGRY">
          <v-img src="feeling_imgs\angey.png" width="700"></v-img>
        </div>
        <div v-if="showImg2" id="CUTE">
          <v-img src="feeling_imgs\cute.png" width="700"></v-img>
        </div>
        <div v-if="showImg3" id="EXCITED">
          <v-img src="feeling_imgs\excited.png" width="700"></v-img>
        </div>
        <div v-if="showImg4" id="PAIN">
          <v-img src="feeling_imgs\pain.png" width="700"></v-img>
        </div>
        <div v-if="showImg5" id="SHOCHED">
          <v-img src="feeling_imgs\shocked.png" width="700"></v-img>
        </div>
        <div v-if="showImg6" id="SMILE">
          <v-img src="feeling_imgs\smile.png" width="700"></v-img>
        </div>
      </v-col>
      <v-col style="margin: 50px; padding-top: 100px" cols="6">
        <v-row align="center" justify="center">
          <div v-if="showImg1">
            <h1 class="text-center text-lg-h3">Angry</h1>
          </div>
          <div v-if="showImg2">
            <h1 class="text-center text-lg-h3">Cute</h1>
          </div>
          <div v-if="showImg3">
            <h1 class="text-center text-lg-h3">Excited</h1>
          </div>
          <div v-if="showImg4">
            <h1 class="text-center text-lg-h3">Pain</h1>
          </div>
          <div v-if="showImg5">
            <h1 class="text-center text-lg-h3">Shoched</h1>
          </div>
          <div v-if="showImg6">
            <h1 class="text-center text-lg-h3">Smile</h1>
          </div>
        </v-row>
        <v-row align="center" justify="center" style="padding-top: 40px">
          <v-btn
            class="width text-h6"
            @click="
              showImg1 = true;
              showImg2 = false;
              showImg3 = false;
              showImg4 = false;
              showImg5 = false;
              showImg6 = false;
            "
            :color="showImg1 == true ? 'yellow' : 'underfined'"
            >ANGRY</v-btn
          >
        </v-row>
        <v-row align="center" justify="center">
          <v-btn
            class="width text-h6"
            @click="
              showImg1 = false;
              showImg2 = true;
              showImg3 = false;
              showImg4 = false;
              showImg5 = false;
              showImg6 = false;
            "
            :color="showImg2 == true ? 'yellow' : 'underfined'"
            >CUTE</v-btn
          >
        </v-row>
        <v-row align="center" justify="center">
          <v-btn
            class="width text-h6"
            @click="
              showImg1 = false;
              showImg2 = false;
              showImg3 = true;
              showImg4 = false;
              showImg5 = false;
              showImg6 = false;
            "
            :color="showImg3 == true ? 'yellow' : 'underfined'"
            >EXCITED</v-btn
          >
        </v-row>
        <v-row align="center" justify="center">
          <v-btn
            class="width text-h6"
            @click="
              showImg1 = false;
              showImg2 = false;
              showImg3 = false;
              showImg4 = true;
              showImg5 = false;
              showImg6 = false;
            "
            :color="showImg4 == true ? 'yellow' : 'underfined'"
            >PAIN</v-btn
          >
        </v-row>
        <v-row align="center" justify="center">
          <v-btn
            class="width text-h6"
            @click="
              showImg1 = false;
              showImg2 = false;
              showImg3 = false;
              showImg4 = false;
              showImg5 = true;
              showImg6 = false;
            "
            :color="showImg5 == true ? 'yellow' : 'underfined'"
            >SHOCKED</v-btn
          >
        </v-row>
        <v-row align="center" justify="center">
          <v-btn
            class="width text-h6"
            @click="
              showImg1 = false;
              showImg2 = false;
              showImg3 = false;
              showImg4 = false;
              showImg5 = false;
              showImg6 = true;
            "
            :color="showImg6 == true ? 'yellow' : 'underfined'"
            >SMILE</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.width {
  width: 900px;
  margin: 15px;
  height: 50px;
  justify-content: center;
}
.yellow {
  background-color: rgb(247, 233, 45);
}
</style>
