<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const Counter = useCounterStore();
</script>
<template>
  <div>
    <v-row style="padding-top: 200px; padding-left: 30px">
      <v-col>
        <v-row class="h"><h3>First Component</h3></v-row>
        <v-row class="h"
          ><span id="number">{{ Counter.count }}</span></v-row
        >
        <v-row class="h"
          ><v-btn @click="Counter.increment"> INCREMENT</v-btn></v-row
        >
      </v-col>
      <v-col>
        <v-row class="h"><h3>Second Component</h3></v-row>
        <v-row class="h"
          ><span id="number">{{ Counter.doubleCount }}</span></v-row
        >
        <v-row class="h"
          ><v-btn @click="Counter.decrease"> DECREASE</v-btn></v-row
        >
      </v-col>
    </v-row>
  </div>
</template>
<style scoped>
.h {
  padding-top: 10px;
}
</style>
